<%- include("parts/header", {title: 'Agenda de contatos' }) %>

  <div class="container">
    <div class="contents">

      <% if(contact._id) {%>
        <form action="/contact/edit/<%= contact._id %>" id="form-contact" method="POST">
          <% } else { %>
            <form action="/contact/register" id="form-contact" method="POST">
              <% } %>
                <fieldset>
                  <legend>Dados do Contato</legend>
                  <div class="separator light"></div>

                  <%- include('parts/messages'); %>

                    <div class="input-group">
                      <div class="input-wrapper">
                        <label for="name">Nome do Contato:</label>
                        <input value="<%= contact.name %>" type="text" id="name" name="name" />
                      </div>


                      <div class="input-wrapper">
                        <label for="last_name">Sobrenome:</label>
                        <input value="<%= contact.last_name %>" type="text" id="last-name" name="last-name" />
                      </div>
                    </div>

                    <div class="input-group">
                      <div class="input-wrapper">
                        <label for="phone">Telefone:</label>
                        <input value="<%= contact.phone %>" type="phone" id="phone" name="phone" />
                      </div>

                      <div class="input-wrapper">
                        <label for="email">Email:</label>
                        <input value="<%= contact.email %>" type="email" id="email" name="email" />
                      </div>
                    </div>

                    <div class="input-group">
                      <div class="input-wrapper">
                        <label for="category">Categoria:</label>
                        <input value="<%= contact.category %>" type="text" id="category" name="category" />
                      </div>
                    </div>


                    <div class="addres">
                      <h3>Endereço</h3>
                    </div>

                    <div class="input-group">
                      <div class="input-wrapper">
                        <label for="zipcode">Cep</label>
                        <input value="<%= contact.zipcode %>" type="text" id="zipcode" name="zipcode" />
                      </div>

                      <div class="input-wrapper">
                        <label for="street">Rua:</label>
                        <input value="<%= contact.street %>" type="text" id="street" name="street" />
                      </div>

                    </div>

                    <div class="input-group">

                      <div class="input-wrapper">
                        <label for="district">Bairro:</label>
                        <input value="<%= contact.district %>" type="text" id="district" name="district" />
                      </div>

                      <div class="input-wrapper">
                        <label for="local">Numero:</label>
                        <input value="<%= contact.local %>" type="number" id="local" name="local" />
                      </div>

                    </div>

                    <div class="input-group">

                      <div class="input-wrapper">
                        <label for="city">Cidade:</label>
                        <input value="<%= contact.city %>" type="text" id="city" name="city" />
                      </div>

                      <div class="input-wrapper">
                        <label for="state">UF:</label>
                        <input value="<%= contact.state %>" type="text" id="state" name="state" />
                      </div>

                    </div>



                </fieldset>
            </form>

            <div class="btn-login">
              <button form="form-contact" type="submit" class="btn btn-primary btn-lg">Salvar</button>
            </div>
    </div>
  </div>

  <script src="/scripts/findZipecode.js" type="text/javascript">

  </script>

  <%- include("parts/footer") %>