<%- include("parts/header", {title: 'Agenda de contatos' }) %>



  <div class="container">



    <div class="sumary">

      <div class="search">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Busque por nomes">
      </div>

      <a class="button gray" href="/contact/index">
        <span>
          <img src="/images/plus-24.svg" alt="Novo Contato" />
        </span>
        Adicionar novo contato
      </a>

    </div>



    <section class="cards">
      <table id="myTable">
        <thead>
          <tr>
            <th>A</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Açoes</th>
          </tr>

        </thead>
        <tbody>
          <% contacts.forEach(contact=> { %>
            <tr onclick="window.location='/modal/<%= contact._id %>';">
              <div class="card-nome">
                <td class="avatar-td">
                  <div class="avatar">
                    <h1>
                      <%= contact.name[0].toUpperCase() %>
                    </h1>
                  </div>
                </td>
                <td class="nome">
                  <div class="full-name">
                    <h3>
                      <%= contact.name %>
                    </h3>
                  </div>
                </td>
              </div>
              <div class="category">
                <td class="category">
                  <h3>
                    <%= contact.category %>
                  </h3>
                </td>
              </div>
              <div class="actions">
                <td class="actions">
                  <div style="font-size: 1.5rem;">
                    <a href="/contact/delete/<%= contact._id %>">
                      <i class="bi bi-trash"></i>
                    </a>
                    <a href="/contact/index/<%= contact._id %>">
                      <i class="bi bi-pencil-square"></i>
                    </a>
                  </div>
                </td>
              </div>
  </div>
  </tr>
  <% }); %>
    </tbody>
    </table>

    </section>
    </div>




    </script>



    <script>
      function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    </script>





    <%- include("parts/footer") %>